.DS_Store
docs/CRSQLITE_FORK_UPGRADE_COORDINATION.md
out.db
.vscode
a.out
dist/
bench/
.ipynb_checkpoints/
*.db
__pycache__/
node_modules/
build/
tsconfig.tsbuildinfo
.turbo/
target/
py/correctness/.hypothesis/
